@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px 100px;
  box-sizing: border-box;
  background: linear-gradient(270deg, #1173aa, #66b9e8);
  background-size: 400% 400%;
}
.container > .logo-ulxc {
  width: 120px;
  opacity: 0.5;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s;
}
.container > .preview-bot {
  width: 50%;
  flex: 1 0 auto;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}
.container > .side-bot {
  width: 50%;
  height: 100%;
  flex: 1 0 auto;
  position: relative;
}
.container > .side-bot > .share-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: left;
  padding: 0 80px;
}
.container > .side-bot > .share-location > h1, .container > .side-bot > .share-location > p, .container > .side-bot > .share-location > h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.1);
}
.container > .side-bot > .share-location > h1 {
  color: #145a82;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
}
.container > .side-bot > .share-location > h2 {
  color: #fff;
  font-size: 25px;
  line-height: 1.2;
}
.container > .side-bot > .share-location > button {
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(270deg, #fbf60c, #90dd11);
  background-size: 400% 400%;
  -webkit-animation: animationButton 56s ease infinite;
  -moz-animation: animationButton 56s ease infinite;
  animation: animationButton 56s ease infinite;
  width: auto;
  padding: 20px 40px;
  border-radius: 60px;
  color: #0f542e;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
.container > .side-bot > .share-location > button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}
.container > .form-bot {
  display: none;
}
.container.form > .logo-ulxc {
  width: 220px;
  top: 40px;
  right: auto;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
}
.container.form > .preview-bot, .container.form > .side-bot {
  display: none;
}
.container.form > .form-bot {
  display: block;
  width: 400px;
  position: absolute;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container.form > .form-bot > h1 {
  font-size: 30px;
  color: #0a4f75;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
.container.form > .form-bot > form {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.container.form > .form-bot > form > .form-group {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.container.form > .form-bot > form > .form-group > label {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  display: block;
}
.container.form > .form-bot > form > .form-group > input[type=text] {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border: none;
  height: 40px;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}
.container.form > .form-bot > form > .form-group > input[type=text]:hover, .container.form > .form-bot > form > .form-group > input[type=text]:focus {
  background-color: #fff;
  color: #838383;
}
.container.form > .form-bot > form > .form-group.xs6 {
  width: 50%;
}
.container.form > .form-bot > form > .form-group:first-child {
  margin-top: 0;
}
.container.form > .form-bot > form > .btn-send {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: #fbf60c;
  color: #145a82;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  margin: 30px auto 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.container.form > .form-bot > form > .btn-send:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes animationButton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animationButton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animationButton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=hackaton.css.map */
