@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.wc-header {
  display: none;
}

.wc-app {
  height: 100%;
  background-color: #dedede;
}
.wc-app > .wc-chatview-panel > .wc-header {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane {
  height: 100%;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups {
  top: 0;
  bottom: 60px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content {
  border-radius: 0 30px 30px 30px;
  background-color: #fff;
  font-size: 17.5px;
  padding: 12px 17px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > .wc-message-callout {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > .wc-message-callout > path {
  fill: #fff;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card {
  border: 0;
  width: 100%;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > img {
  width: 100%;
  height: auto;
  max-height: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > h1, .wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > h2 {
  font-size: 15px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons {
  margin-top: 5px;
  list-style-type: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li {
  margin-bottom: 5px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li > button {
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  border-color: #3e80a5;
  transition: all 0.2s;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li > button:hover {
  background-color: #3e80a5;
  color: #fff;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li:last-child {
  margin-bottom: 0px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-me > .wc-message-content {
  border-radius: 30px 0 30px 30px;
  font-size: 17.5px;
  padding: 12px 17px;
  background-color: #3e80a5;
  color: #fff;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-me > .wc-message-content > .wc-message-callout {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-me > .wc-message-content > .wc-message-callout > path {
  fill: #3e80a5;
}
.wc-app > .wc-chatview-panel > .wc-console {
  border: 0px solid #dedede;
  border-radius: 50px;
  bottom: 10px;
  margin: 0 10px;
}
.wc-app > .wc-chatview-panel > .wc-console > input#wc-upload-input {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-upload {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-textbox {
  left: 0;
  margin-right: 10px;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-textbox > input[type=text] {
  background-color: #fff;
  border-radius: 50px !important;
  font-size: 17px;
  padding: 0 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-send {
  width: 50px;
  height: 50px;
  background-color: #3e80a5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-send > svg {
  fill: #fff;
  margin: 0px !important;
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-pratech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(270deg, #1173aa, #66b9e8);
  background-size: 400% 400%;
}
.container-pratech > .logo-ulxc {
  width: 200px;
  opacity: 0.5;
  z-index: 3;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s;
}
.container-pratech > .preview-bot {
  width: 50%;
  flex: 1 0 auto;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.container-pratech > .side-bot {
  width: 50%;
  height: 100%;
  flex: 1 0 auto;
  position: relative;
}
.container-pratech > .side-bot > .share-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: left;
  padding: 0 80px;
}
.container-pratech > .side-bot > .share-location > h1, .container-pratech > .side-bot > .share-location > p, .container-pratech > .side-bot > .share-location > h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.1);
}
.container-pratech > .side-bot > .share-location > h1 {
  color: #145a82;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
}
.container-pratech > .side-bot > .share-location > h2 {
  color: #fff;
  font-size: 25px;
  line-height: 1.2;
}
.container-pratech > .side-bot > .share-location > button {
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(46deg, #fbf60c, #90dd11);
  background-size: 400% 400%;
  -webkit-animation: animationButton 27s ease infinite;
  -moz-animation: animationButton 27s ease infinite;
  animation: animationButton 27s ease infinite;
  width: auto;
  padding: 20px 40px 20px 60px;
  border-radius: 60px;
  color: #0f542e;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
.container-pratech > .side-bot > .share-location > button > .fa {
  font-size: 30px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.container-pratech > .side-bot > .share-location > button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}
.container-pratech > .side-bot > .consejos {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.container-pratech > .side-bot > .consejos > .carousel {
  height: 100%;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner {
  height: 100%;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item {
  height: 100%;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item > .carousel-caption {
  left: auto;
  right: auto;
  padding: 0 40px;
  width: 100%;
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item > .carousel-caption > .badge {
  background-color: #fbf60c;
  color: #145a82;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: none;
  padding: 5px 10px;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item > .carousel-caption > .fa {
  font-size: 50px;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item > .carousel-caption > h4 {
  font-size: 24px;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
  padding: 15px;
  line-height: 1.2;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item > .carousel-caption > h4 > div {
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
  line-height: normal;
}
.container-pratech > .side-bot > .consejos > .carousel > .carousel-inner > .item > .carousel-caption > h4 > div > strong {
  font-weight: bold;
}
.container-pratech > .side-bot > .news {
  height: 100%;
  width: 100%;
  position: relative;
}
.container-pratech > .side-bot > .news::after, .container-pratech > .side-bot > .news::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 100px;
  z-index: 1;
}
.container-pratech > .side-bot > .news::before {
  bottom: 0;
  background: -moz-linear-gradient(top, transparent 0%, #56acdc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, #56acdc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, #56acdc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container-pratech > .side-bot > .news::after {
  top: 0;
  background: -moz-linear-gradient(top, #56acdc 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #56acdc 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #56acdc 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container-pratech > .side-bot > .news > .list-news {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 100px 50px;
  height: auto;
  max-height: 100%;
  /* Tamaño del scroll */
  /* Estilos barra (thumb) de scroll */
  /* Estilos track de scroll */
}
.container-pratech > .side-bot > .news > .list-news > li {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.container-pratech > .side-bot > .news > .list-news > li > a {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.2s;
}
.container-pratech > .side-bot > .news > .list-news > li > a > .badge {
  background-color: #fbf60c;
  color: #145a82;
  border-radius: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: none;
  padding: 5px 10px;
}
.container-pratech > .side-bot > .news > .list-news > li > a > .fa {
  font-size: 30px;
  color: #fff;
  display: block;
  position: absolute;
  left: 15px;
  top: 50px;
}
.container-pratech > .side-bot > .news > .list-news > li > a > h4 {
  font-size: 24px;
  color: #fff;
  text-shadow: none;
  padding-left: 35px;
  font-weight: 300;
  line-height: 1.2;
}
.container-pratech > .side-bot > .news > .list-news > li > a > h4 > div {
  font-weight: 200;
  font-size: 16px;
  margin-top: 10px;
  line-height: normal;
}
.container-pratech > .side-bot > .news > .list-news > li > a > h4 > div > strong {
  font-weight: bold;
}
.container-pratech > .side-bot > .news > .list-news > li > a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.container-pratech > .side-bot > .news > .list-news > li > a:hover > .fa, .container-pratech > .side-bot > .news > .list-news > li > a:hover > h4 {
  color: #838383;
}
.container-pratech > .side-bot > .news > .list-news > li:last-child {
  margin-bottom: 0px;
}
.container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
.container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar-track:hover, .container-pratech > .side-bot > .news > .list-news::-webkit-scrollbar-track:active {
  background: transparent;
}
.container-pratech > .form-bot {
  display: none;
}
.container-pratech.form > .logo-ulxc {
  width: 220px;
  top: 40px;
  right: auto;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
}
.container-pratech.form > .preview-bot, .container-pratech.form > .side-bot {
  display: none;
}
.container-pratech.form > .form-bot {
  display: block;
  width: 400px;
  position: absolute;
  margin-top: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-pratech.form > .form-bot > h1 {
  font-size: 30px;
  color: #0a4f75;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
.container-pratech.form > .form-bot > form {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.container-pratech.form > .form-bot > form > .form-group {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.container-pratech.form > .form-bot > form > .form-group > label {
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  display: block;
}
.container-pratech.form > .form-bot > form > .form-group > input[type=text] {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border: none;
  height: 40px;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}
.container-pratech.form > .form-bot > form > .form-group > input[type=text]:hover, .container-pratech.form > .form-bot > form > .form-group > input[type=text]:focus {
  background-color: #fff;
  color: #838383;
}
.container-pratech.form > .form-bot > form > .form-group.xs6 {
  width: 50%;
}
.container-pratech.form > .form-bot > form > .form-group:first-child {
  margin-top: 0;
}
.container-pratech.form > .form-bot > form > .info-copy {
  font-size: 15px;
  color: #fff;
  line-height: normal;
  margin: 30px 0 0;
  text-align: left;
  position: relative;
  padding-left: 40px;
}
.container-pratech.form > .form-bot > form > .info-copy > .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background-color: #fbf60c;
  color: #838383;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.container-pratech.form > .form-bot > form > .btn-send {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  background-color: #fbf60c;
  color: #145a82;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  margin: 30px auto 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.container-pratech.form > .form-bot > form > .btn-send:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes animationButton {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 17%;
  }
  100% {
    background-position: 0% 84%;
  }
}
@-moz-keyframes animationButton {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 17%;
  }
  100% {
    background-position: 0% 84%;
  }
}
@keyframes animationButton {
  0% {
    background-position: 0% 84%;
  }
  50% {
    background-position: 100% 17%;
  }
  100% {
    background-position: 0% 84%;
  }
}

/*# sourceMappingURL=hackaton.css.map */
