@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
.wc-header {
  display: none;
}

.wc-app {
  height: 100%;
  background-color: #dedede;
}
.wc-app > .wc-chatview-panel > .wc-header {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane {
  height: 100%;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups {
  top: 0;
  bottom: 60px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content {
  border-radius: 0 30px 30px 30px;
  background-color: #fff;
  font-size: 17.5px;
  padding: 12px 17px;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > .wc-message-callout {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > .wc-message-callout > path {
  fill: #fff;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card {
  border: 0;
  width: 100%;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > img {
  width: 100%;
  height: auto;
  max-height: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > h1, .wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > h2 {
  font-size: 15px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons {
  margin-top: 5px;
  list-style-type: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li {
  margin-bottom: 5px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li > button {
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.6);
  border-color: #3e80a5;
  transition: all 0.2s;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li > button:hover {
  background-color: #3e80a5;
  color: #fff;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-bot > .wc-message-content > div > .wc-list > .wc-card > .wc-card-buttons > li:last-child {
  margin-bottom: 0px;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-me > .wc-message-content {
  border-radius: 30px 0 30px 30px;
  font-size: 17.5px;
  padding: 12px 17px;
  background-color: #3e80a5;
  color: #fff;
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-me > .wc-message-content > .wc-message-callout {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-message-pane > .wc-message-groups > .wc-message-group-content > .wc-message-wrapper > .wc-message.wc-message-from-me > .wc-message-content > .wc-message-callout > path {
  fill: #3e80a5;
}
.wc-app > .wc-chatview-panel > .wc-console {
  border: 0px solid #dedede;
  border-radius: 50px;
  bottom: 10px;
  margin: 0 10px;
}
.wc-app > .wc-chatview-panel > .wc-console > input#wc-upload-input {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-upload {
  display: none;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-textbox {
  left: 0;
  margin-right: 10px;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-textbox > input[type=text] {
  background-color: #fff;
  border-radius: 50px !important;
  font-size: 17px;
  padding: 0 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-send {
  width: 50px;
  height: 50px;
  background-color: #3e80a5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wc-app > .wc-chatview-panel > .wc-console > .wc-send > svg {
  fill: #fff;
  margin: 0px !important;
}

.chatbot-float-pratech {
  border-radius: 30px 0 0 30px;
  border-top: 2px solid #3e80a5;
  border-bottom: 2px solid #3e80a5;
  border-left: 2px solid #3e80a5;
  position: fixed;
  width: 100px;
  height: 91px;
  top: 20%;
  right: 0;
  background-color: #fff;
  color: #fff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  vertical-align: middle;
  display: block;
  pointer-events: all;
  padding-top: 10px;
}
.chatbot-float-pratech:hover {
  background-color: #d9d9d9;
}
.chatbot-float-pratech i.fa {
  font-size: 23px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.chatbot-drag-pratech {
  width: 400px;
  height: 470px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 9999999;
  display: none;
  pointer-events: all;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  .chatbot-drag-pratech {
    width: 400px;
    right: 60px;
    bottom: 50%;
    height: 470px;
    transform: translateY(50%);
  }
}
@media (max-width: 768px) {
  .chatbot-drag-pratech {
    width: 95%;
    height: 400px;
    right: 0;
    bottom: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }
}
.chatbot-drag-pratech.show {
  display: block;
}
.chatbot-drag-pratech-header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 8px 0 0;
  cursor: move;
  z-index: 1;
}
.chatbot-drag-pratech-header .-info-title {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 90px;
  box-sizing: border-box;
}
.chatbot-drag-pratech-header .-info-title .title-chat {
  font-size: 21px;
  color: #3e80a5;
  font-weight: 700;
}
.chatbot-drag-pratech-header .-info-title .title-chat .lighter {
  font-weight: 300;
  color: #838383;
  font-size: 18px;
}
@media (max-width: 768px) {
  .chatbot-drag-pratech-header .-info-title .title-chat {
    font-size: 17px;
  }
}
.chatbot-drag-pratech-header .-info-title p.p1 {
  font-size: 12px;
  font-weight: 300;
  margin-top: -1px;
  color: #fff;
  margin-bottom: 0;
}
.chatbot-drag-pratech-header .-info-title .avatar-img {
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 8px 0 0 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.chatbot-drag-pratech-header .-info-title .avatar-img img {
  width: 50%;
  top: 20%;
  position: relative;
  left: 31%;
}
.chatbot-drag-pratech-header .-info-title .icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: 40px;
  text-align: center;
}
.chatbot-drag-pratech-header .-info-title .icon ul.list-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.chatbot-drag-pratech-header .-info-title .icon ul.list-actions li {
  float: left;
  border-radius: 50%;
  background-color: #dedede;
}
.chatbot-drag-pratech-header .-info-title .icon ul.list-actions li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.chatbot-drag-pratech-header .-info-title .icon ul.list-actions li a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  color: #838383;
  opacity: 0.5;
  text-decoration: none;
}
.chatbot-drag-pratech-body {
  position: relative;
  height: 370px;
  border-radius: 18px;
  margin: 88px 10px 10px 10px;
  background-color: #dedede;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .chatbot-drag-pratech-body {
    height: 370px;
  }
}
@media (max-width: 768px) {
  .chatbot-drag-pratech-body {
    height: 300px;
  }
}
.chatbot-drag-pratech-body iframe {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #eee;
  border: none;
}
.chatbot-drag-pratech-footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #3e80a5;
  height: 18px;
  line-height: 13px;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1px;
  border-radius: 0 0 10px 10px;
}
.chatbot-drag-pratech-footer a {
  color: #fff;
  text-decoration: none;
}
.chatbot-drag-pratech-footer a:hover {
  text-decoration: underline;
}

.parentchatpratech {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 100;
}

.button-access-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #838383;
  line-height: 18px;
  text-transform: uppercase;
}

.wc-console {
  background-color: #dedede !important;
  bottom: 8px;
}
.wc-console .wc-textbox {
  bottom: !important;
  left: 10px !important;
  right: 10px !important;
  top: 5px !important;
}
.wc-console .wc-textbox input {
  border-radius: 20px !important;
  height: 100% !important;
  outline: none !important;
  padding: 0 50px 0 15px !important;
  box-sizing: border-box !important;
  resize: none !important;
  width: 100% !important;
  background: #fff !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.wc-send svg {
  fill: #3e80a5 !important;
}

.wc-message-groups {
  top: 0 !important;
}

.back {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
