.wc-header{
    display: none;
}
.wc-app{
    height: 100%;
    background-color: $c-gray;
    > .wc-chatview-panel{
        > .wc-header{
            display: none;
        }

        > .wc-message-pane{
            height: 100%;
            > .wc-message-groups{
                top: 0;
                bottom: 60px;
                > .wc-message-group-content{
                    > .wc-message-wrapper{
                        > .wc-message{
                            &.wc-message-from{
                                &-bot{
                                    > .wc-message-content{
                                        border-radius: 0 30px 30px 30px;
                                        background-color: $c-white;
                                        font-size: 17.5px;
                                        padding: 12px 17px;
                                        box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
                                        > .wc-message-callout{
                                            display: none;
                                            > path{
                                                fill: $c-white;
                                            }
                                        }
                                        > div{
                                            > .wc-list{
                                                > .wc-card{
                                                    border: 0;
                                                    width: 100%;
                                                    > img{
                                                        width: 100%;
                                                        height: auto;
                                                        max-height: none;
                                                    }
                                                    > h1, > h2{
                                                        font-size: 15px;
                                                    }
                                                    > .wc-card-buttons{
                                                        margin-top: 5px;
                                                        list-style-type: none;

                                                        > li{
                                                            > button{
                                                                border-radius: 3px;
                                                                color: rgba(0, 0, 0, 0.6);
                                                                border-color: $c-1;
                                                                transition: all .2s;
                                                                font-size: 14px;
                                                                width: 100%;
                                                                box-sizing: border-box;

                                                                &:hover{
                                                                    background-color: $c-1;
                                                                    color: $c-white;
                                                                }
                                                            }
                                                            margin-bottom: 5px;
                                                            &:last-child{
                                                                margin-bottom: 0px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &-me{
                                    > .wc-message-content{
                                        border-radius: 30px 0 30px 30px;
                                        font-size: 17.5px;
                                        padding: 12px 17px;
                                        background-color: $c-1;
                                        color: $c-white;
                                        box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
                                        > .wc-message-callout{
                                            display: none;
                                            > path{
                                                fill: $c-1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        > .wc-console{
            border: 0px solid $c-gray;
            border-radius: 50px;
            bottom: 10px;
            margin: 0 10px;
            
            > input{
                &#wc-upload-input{
                    display: none;
                }
            }
            > .wc-upload{
                display: none;
            }

            > .wc-textbox{
                left: 0;
                margin-right: 10px;
                > input{
                    &[type=text]{
                        background-color: $c-white;
                        border-radius: 50px !important;
                        font-size: 17px;
                        padding: 0 20px;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
            > .wc-send{
                width: 50px;
                height: 50px;
                background-color: $c-1;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                > svg{
                    fill: $c-white;
                    margin: 0px !important;
                }
            }
        }
    }
}