@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


$f-ppal: 'Roboto', sans-serif;

// Colores Generales
$c-white: #fff;
$c-black: #000;
$c-dark: #838383;
$c-gray: #eeeeee;
$c-gray2: #d9d9d9;

// Colores específicos
$c-1: #ee1c25;



