@import "reset";
@import "colors-fonts";

*{
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 100px;
    box-sizing: border-box;
    background: linear-gradient(270deg, #1173aa, #66b9e8);
    background-size: 400% 400%;

    > .logo-ulxc{
        width: 160px;
        opacity: .5;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    > .preview-bot{
        width: 50%;
        flex: 1 0 auto;
        height: 100%;
        background-color: $c-white;
        border-radius: 5px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    }
    > .side-bot{
        width: 50%;
        height: 100%;
        flex: 1 0 auto;
        position: relative;

        > .share-location{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            text-align: left;
            padding: 0 80px;

            > h1,> p,> h2{
                font-family: $f-ppal;
                line-height: 1;
                text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.1);
                
            }
            > h1{
                color: #145a82;
                font-size: 70px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            > h2{
                color: $c-white;
                font-size: 25px;
                line-height: 1.2;
            }
            > button{
                font-size: 20px;
                font-weight: 400;
                background: linear-gradient(270deg, #fbf60c, #90dd11);
                background-size: 400% 400%;

                -webkit-animation: animationButton 56s ease infinite;
                -moz-animation: animationButton 56s ease infinite;
                animation: animationButton 56s ease infinite;
                width: auto;
                padding: 20px 40px;
                border-radius: 60px;
                color: #0f542e;
                font-weight: bold;
                text-transform: uppercase;
                border: none;
                margin-top: 40px;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;

                transition: all .2s;

                &:hover{
                    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

@-webkit-keyframes animationButton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animationButton {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animationButton { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}